<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2> {{message}} </h2>
</div>
<div>
    <div class="col-sm-1">
      <h2> Hello Darling! </h2>
      <div class="row">
        <button onclick="">Home</button>
      </div>
      <div class="row">
        <button onclick="">Sell</button>
      </div>
      <div class="row">
        <button onclick="">Buy</button>
      </div>
    </div>
    <div class="col-sm-11">
      <app-greeting></app-greeting>
      <app-calculation></app-calculation>
    </div>
</div>
<div>
  <app-invention></app-invention>
</div>
<div>
  <app-pipe-example></app-pipe-example>
</div>

